
{% extends "./Layouts/Base.twig"%}

 {% block content %}
<div class="max-w-3xl mx-auto mt-10 bg-white shadow-lg rounded-lg p-6">
        <h1 class="text-3xl font-bold text-gray-800">{{article[0].title}}</h1>
        <p class="text-gray-500 text-sm mt-2">{{article[0].created_at}}</p>
        <hr class="my-4">
        <div class="text-lg text-gray-700">
            {{article[0].content}}
        </div>
    </div>
    
 {% endblock %}
